{% extends 'layouts/main_profile.html'%}

{% load i18n %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
<li class="breadcrumb-item">{% trans "Account" %}</li>
<li class="breadcrumb-item active">{% trans "Change password" %}</li>
{% endblock breadcrumb %}

{% block tab_content %}
<div class="active tab-pane" id="security">
    {% if pass_form.non_field_errors %}
    {% for error in pass_form.non_field_errors %}
    <p class="text-danger">
        <strong>{% trans "Error" %}: </strong>{{ error|escape }}
    </p>
    {% endfor %}
    {% endif %}
    <form class="form" action="{% url 'accounts:change_password' %}" method="post">
        {% csrf_token %}
        {# Include the hidden fields #}
        {% for hidden in pass_form.hidden_fields %}
        {{ hidden }}
        {% endfor %}
        {# Include the visible fields #}
        {% for field in pass_form.visible_fields %}
        <div class="mb-2">
            {{ field.label_tag }}
            {{ field }}
            {% if field.help_text %}
            <p class="form-text">{{ field.help_text|safe }}</p>
            {% endif %}
            {% if field.errors %}
            {% for error in field.errors %}
            <span class="error invalid-feedback">{{ error|escape }}</span>
            {% endfor %}
            {% endif %}
        </div>
        {% endfor %}
        <div class='float-right mt-2'>
            <a href="{% url 'home' %}" class="btn btn-outline-danger m-1" role="button">{% trans "Cancel" %}</a>
            <button type="submit" class="btn btn-outline-secondary m-1">{% trans "Update" %}</button>
        </div>
    </form>
</div>
<!-- /.tab-pane -->
{% endblock tab_content %}