{% load custom_tags %}{% load i18n %}{% autoescape off %}
{% firstof  user.get_full_name user.username%}

{% trans "To start the process of resetting your account password, click on the following link:" %}

{{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}

{% trans "If clicking the link above doesn't work, copy and paste the URL into a new browser window." %}

{% trans "Regards" %},
{% get_setting "APP_LONG_NAME" %} Team
{% get_setting "APP_COMPANY" %}

{% endautoescape %}