{% extends 'layouts/main_login.html'%}

{% load i18n %}

{% block content %}
<div class="card-header">
    <h3 class="card-title float-none text-center">
        {% trans "Enter a username and your email to request a user" %}
    </h3>
</div>
<div class="card-body login-card-body">
    {% if form.errors%}
    <div class="text-danger text-center">
        {% for key, value in form.errors.items %}
        {{ value }}
        {% endfor %}
    </div>
    {% endif %}
    <form action="{% url 'accounts:user_request' %}" method="post">
        {% csrf_token %}
        {# Include the hidden fields #}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        {# Include the visible fields #}
        {% for field in form.visible_fields %}
        <div class="mb-2">
            {{ field }}
            {% if field.help_text %}
            <small class="form-text text-muted">{{ field.help_text|safe }}</small>
            {% endif %}
            {% if field.errors %}
            <div class="invalid-feedback">
                {% for error in field.errors %}
                {{ error }}
                {% endfor %}
            </div>
            {% endif %}
        </div>
        {% endfor %}
        <div class="row">
            <div class="col-6">
                <div class="pt-2">
                    <a href="{% url 'accounts:login' %}">
                        {% trans "Back to Sign in" %}
                    </a>
                </div>
            </div>
            <!-- /.col -->
            <div class="col-6">
                <button type="submit" class="btn btn-info btn-block">
                    {% trans "Request" %}
                </button>
            </div>
            <!-- /.col -->
        </div>
    </form>
</div>
<!-- /.card-body -->
<div class="card-footer">

</div>
{% endblock content %}